@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --main-color: #2a2e31;
  --btn-color: #f20000;
}

html {
  scroll-behavior: smooth;
}

a {
  list-style-type: none;
  text-decoration: none;
  /* color: #fff; */
}

.btn_dow a {
  color: #fff;
}
.btn_dow {
  background-color: var(--btn-color);
  padding: 6px;
  /* width: 120px; */
  border: none;
  border-radius: 6px;
  font-size: 14px;
  text-transform: capitalize;
  border: 2px solid var(--btn-color);
  cursor: pointer;
  box-shadow: 0 15px 20px 0 rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease-in;
}

.btn_dow:hover {
  background-color: var(--main-color);
  border: 2px solid var(--main-color);
}
/* 
.btn_dow:hover {
  background-color: transparent; */
/* color: #000; */
/* border: 2px solid var(--btn-color);
  transition: all 0.9s ease;
} */

img {
  max-width: 100%;
  width: 100%;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.4);
  z-index: 4;
  display: none;
}

#overlay.show {
  display: initial;
}

/* ==================================NAVBAR----------------------------= */
header {
  width: 100%;
  background: var(--main-color);
  position: fixed;
  z-index: 10000;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 20px 0; */
}
.navbar__logo h1 {
  color: white;
}
.navb ar__logo img {
  width: 100px;
  /* height: 57px; */
  object-fit: cover;
}

.navbar__links {
  position: fixed;
  top: 0;
  left: 0;
  width: 60%;
  height: 100%;
  background-color: #000;
  z-index: 5;
  transition: all 0.3s ease-in;
  transform: translateX(-100%);
  opacity: 0;
}
.navbar__links .navbar__link a {
  color: white;
  font-size: 14px;
}

/* js */
.navbar__links.navbar__open {
  transform: translateX(0);
  opacity: 1;
  transition: all 0.3s ease-in;
}
/* end js */

/* .navbar__link__btn {
  list-style: none;
  margin: 22px;
}
.navbar__link__btn a {
  text-decoration: none;
  font-size: 18px;
  font-weight: 400;
  color: #fff;
  border: 2px;
  padding: 6px;
  text-transform: capitalize;
  border: 2px solid var(--btn-color);
} */

/* .navbar__link__btn a:hover {
  background: var(--btn-color);
  transition: all 0.3s ease-in;
} */

.navbar__link {
  list-style: none;
  margin: 22px;
}

.navbar__link a {
  text-decoration: none;
  font-size: 14px;
  color: #fff;
  font-weight: 500;
}
.navbar__link a:hover {
  color: var(--btn-color);
  transition: all 0.2s ease-in;
}
/* icon menu */
.navbar__icons {
  display: flex;
  width: 80px;
  height: 80px;
  cursor: pointer;
  transition: all 0.3s ease-in;
  align-items: center;
  justify-content: end;
  z-index: 10;
  color: #f20000;
}
.text-logo {
  color: var(--btn-color);
  /* font-size: 30px; */
}
.navbar__icon {
  width: 45px;
  height: 6px;
  background-color: var(--main-color);
  border-radius: 6px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
  color: #fff;
}

.navbar__icon:before,
.navbar__icon:after {
  content: "";
  position: absolute;
  width: 45px;
  height: 6px;
  background-color: var(--main-color);
  border-radius: 5px;
  transition: all 0.3s ease-in;
}
.navbar__icon:before {
  transform: translateY(-12px);
}

.navbar__icon:after {
  transform: translateY(12px);
}

/* .open .navbar__icon {
  transform: translateX(-50px);
  background: transparent;
} */

.open .navbar__icon:before {
  transform: rotate(45deg) translate(35px, -35px);
  /* 45 độ, height=35px, wight = -35px */
}

.open .navbar__icon:after {
  transform: rotate(-45deg) translate(35px, 35px);
  /* 45 độ, height=35px, wight = -35px */
}

@media (min-width: 992px) {
  .navbar__links {
    position: initial;
    transform: translateX(0);
    opacity: 1;
    background-color: transparent;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .navbar__link a {
    color: #000;
  }

  .navbar__icons {
    display: none;
  }
  .navbar__link__btn a {
    color: #000;
  }
  .navbar__link__btn a:hover {
    color: #fff;
    transition: all 0.3s ease-in;
  }
}

/* =================================END=NAVBAR----------------------------= */

/* =====================WRAPPER================================*/
#wrapper {
  background-color: #46464613;
}
.wrapper__text h1 {
  display: flex;
  align-items: center;
}
.text-content {
  color: white;
  background: var(--main-color);
  /* backdrop-filter:  blur(3px); */
  border-radius: 10px;
  padding: 6px;
  text-align: justify;
  /* padding: 4px; */
  font-size: 13px;
  font-weight: 300;
  border-left: 6px solid rgb(255, 32, 32);
}
.text__name {
  color: var(--btn-color);
  margin-left: 20px;
  display: flex;
}
.wrapper__btn {
  margin-top: 20px;
}
.wrapper__text {
  position: absolute;
  margin-top: 26em;
}

.wrapper__icon {
  margin-top: 20px;
}

.icon__mul {
  font-size: 30px;
  color: var(--main-color);
  margin-right: 5px;
}
.icon__mul:hover {
  color: var(--btn-color);
  transition: all 0.3s ease-in;
  cursor: pointer;
}

@media (min-width: 992px) {
  #wrapper {
    /* padding-top: 80px; */
  }
  .wrapper__text {
    position: relative;
    margin-top: 2rem;
  }
  .wrapper__icon {
    margin-top: 40px;
  }
  .text__name {
    margin-left: 20px;
    font-size: 60px;
    display: flex;
  }
  .wrapper__items {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .wrapper__text {
    width: 50%;
    height: 100%;
  }
  .img-avatar {
    object-fit: cover;
    width: 400px;
    /* background-image: url('/image/color.png'); */
    background-image: url("/image/color.png");
  }
  .wrapper__btn {
    margin-top: 20px;
  }
  .wrapper-img img {
    animation: animation 3s infinite linear;
  }
  .wrapper-img img:nth-child(1) {
    animation-delay: 0.5s;
  }
  .wrapper-img img:nth-child(2) {
    animation-delay: 1s;
  }
  @keyframes animation {
    0% {
      transform: translateY(0px);
    }
    50% {
      transform: translateY(-10px);
    }
    100% {
      transform: translateY(0px);
    }
  }
}
/* ==============================================END WRAPPER=========================== */

/* letter-spacing: 4; giãn cách các chữ VD: T  H  E  B  A  N  D */
/* text-align: justify; căn điều 2 bên cho đoạn văn */
/* line-height: 1.4; khoảng cách giữa 2 dòng. giãn cách giữa hai dòng */

#work {
  margin-top: 6rem;
}

#work h1 {
  background-color: var(--main-color);
  font-size: 26px;
  padding-left: 1rem;
  width: 100%;
  color: #fff;
}

.works {
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
  /* width: 100%; */
  margin-top: 50px;
}

.works .work__img {
  width: 50%;
}
.contacts {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.contacts .contact__img_2 {
  width: 50%;
  display: flex;
  justify-content: end;
}
.contacts .contact__img_2 img {
  width: 500px;
}

.works .work__img img {
  width: 500px;
}

.works .work__text {
  width: 50%;
}

.works .work__text ul {
  text-decoration: none;
  list-style-type: none;
  font-weight: 300;
  font-size: 14px;
}

.works .work__text ul li {
  margin-bottom: 4px;
}

.works .work__text .work__text_li {
  color: var(--btn-color);
  font-weight: 600;
  padding-left: 10px;
  font-size: 16px;
  border-left: 5px solid var(--btn-color);
}

.works .work__text hr {
  margin-top: 10px;
  /* font-weight: 500; */
  margin-bottom: 15px;
}

.works .work__text .work__text_btn {
  margin-top: 20px;
}

.works .work__text .work__text_btn a {
  background-color: var(--btn-color);
  padding: 4px 8px;
  color: #fff;
  font-size: 16px;
  box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.2);
  transition: all 0.5s ease-in;
  border-radius: 6px;
}

.works .work__text .work__text_btn a:hover {
  background-color: var(--main-color);
}

@media screen and (max-width: 767px) {
  #work {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 20rem;
  }
  .works {
    display: flex;
    width: 100%;
    flex-direction: column;
  }

  .works .work__img {
    display: flex;
    width: 100%;
  }
  .works .work__img img {
    width: 100%;
  }
  .works .work__text {
    display: flex;
    width: 100%;
    margin-top: 20px;
  }
}

@media screen and (min-width: 767px) and (max-width: 1023px) {
  #work {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    /* margin-top: 20rem; */
  }
  .works {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .works .work__img {
    display: flex;
    width: 100%;
  }
  .works .work__img img {
    width: 100%;
  }
  .works .work__text {
    display: flex;
    width: 100%;
    margin-top: 20px;
  }
}

#contact {
  margin-top: 6rem;
}

#contact h1 {
  background-color: var(--main-color);
  font-size: 26px;
  padding-left: 1rem;
  width: 100%;
  color: #fff;
}

.contacts .contact__text_2 ul {
  font-size: 16px;
  text-decoration: none;
  list-style-type: none;
  font-weight: 300;
  font-size: 14px;
  background-color: var(--main-color);
  border-radius: 10px;
  padding: 10px;
  color: #fff;
  border-bottom: 3px solid rgba(255, 32, 32);
  border-left: 6px solid rgba(255, 32, 32);
}
.contacts .contact__text_2 ul li {
  margin-bottom: 10px;
}

.footer {
  text-align: center;
  background-color: var(--main-color);
  color: white;
  padding: 10px 0;
  font-weight: 200;
  font-size: 13px;
}

@media screen and (max-width: 767px) {
  #contact {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .contacts {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 20px;
  }
  .contacts .contact__img_2 {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}
